 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "poppins",sans-serif;

 }

 :root {
    --bg-color: #080808;
    --secong-bg-color:#131313;
    --text-color: white;
    --main-color: #00ffee;  
 }

 html {
    font-size: 60%;
    overflow-x: hidden;
 }

 body {
    background: #080808;
    color: #131313;
 }
 .header{
    position:relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 4rem 12% 4rem;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: right;
    z-index: 5;
 }

 .logo{
    font-size: 3rem;
    color: white;
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease;
 }

 .logo.hover{
    transform: scale(1.1);
}

.logo span{
    text-shadow: 0 0 25px #00ffee;
}
.navbar a{
    font-size: 1.8rem;
    color: white;
    margin-left: 10rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}
.navbar a:hover,
.navbar a.active{
    color:#00ffee;
    border-bottom: 3px solid #00ffee;
}
#menu-icon{
    font-size: 3.6rem;
    color: white;
    display: none;
}

section{
   min-height: 100vh;
   padding: 10rem 12% 10rem;
}
.home{
   display:flex;
   align-items: center;
   justify-content: space-between;
   gap: 15rem;
   padding: 3rem;
}
.home-content{
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   text-align: left;
   justify-content: center;
   
}
span{
   color: #00ffee;
}
.logo span{
   color: #00ffee;
}
.home-content h3{
   margin-bottom: 2rem;
   margin-top: 1rem;
   font-size: 3.5rem;
   color: white;
}

.home-content h1{
   font-size: 7rem;
   font-weight: 700;
   margin-top: 1.5rem;
   line-height: 1;
   color: white;
}


.home-img {
   display: flex;
   justify-content: flex-end; 
 }



.home-img img {
   width: 32vw;
   border-radius: 50%;
   box-shadow: 0 0 25px #00ffee;
   cursor: pointer;
   transition: 0.4s ease-in-out;
 }
.home-img img:hover{
   box-shadow: 0 0 25px #00ffee,
               0 0 50px #00ffee,
               0 0 100px #00ffee;
               
}
.home-content p{
   font-size: 1.5rem;
   font-weight: 500;
   line-height: 1.8;
   max-width: 1000px;
}
.social-icon a {
   display: inline-flex;
   justify-content: center;
   align-items: center;
   width: 4.5rem;
   height: 4.5rem;
   background: transparent;
   border: 2px solid #00ffee;
   font-size: 2.5rem;
   border-radius: 50%;
   color: #00ffee;
   margin: 3rem 1.5rem 3rem 0;
   transition: 0.3s ease-in-out;
}
.social-icon a:hover{
   color: white ;
   transform: scale(1.3)translateY(-5px);
   box-shadow: 0 0 25px #00ffee;
   background-color: #00ffee;
}
.home-content .btn-group {
   display: flex;
   justify-content: space-between;
   width: 345px;
   height: 50px;
   
}
.btn-group a {
   position: relative;
   display: inline-flex;
   justify-content: center;
   align-items: center;
   width: 150px;
   height: 100%;
   background: #00ffee;
   border: 2px solid #00ffee;
   border-radius: 8px;
   box-shadow: 0 0 50px #00ffee;
   font-size: 19px;
   color: #081b29;
   text-decoration: none;
   font-weight: 600;
   letter-spacing: 1px;
   z-index: 1;
   overflow: hidden;
   transition: .5s;
}

.btn-group a:hover {
   color: #00ffee;
}

.btn-group a:nth-child(2) {
   box-shadow: 0 0 25px transparent;
   background: transparent;
   color: #00ffee;
}

.btn-group a:nth-child(2):hover {
   box-shadow: 0 0 25px #00ffee;
   color: #081b29;
}

.btn-group a:nth-child(2)::before {
   box-shadow: 0 0 25px #00ffee;
   background: #00ffee;

}

.btn-group a::before {
   content:  '';
   position: absolute;
   top: 0;
   left: 0;
   width: 0;
   height: 100%;
   background: #081b29;
   z-index: -1;
   transition: .5s;
}

.btn-group a:hover::before {
   width: 100%;
}
.text-animation{
   font-size: 34px;
   font-weight: 600;
   min-width: 280px;
}

.text-animation span {
   content: "Graphic designer";
   color:#00ffee
   animation words 20s infinite;
}
.text-animation span::after{
   content: "";
   position: absolute;
   width: calc(100% + 8px);
   height: 100%;
   border-left: 3px solid #00ffee;
   right: -8px;
   animation: cursor 0.6s infinite, typing 20s steps(14) infinite;

}

.home-content p{
   margin-bottom: 2rem;
   margin-top: 1rem;
   font-size: 1.5rem;
   color: white;
}
 .heading{
   font-size: 8rem;
   text-align: center;
   margin: 5rem 0;
   color: #00ffee;

 }
 .profile{
   padding: 100px 15px;
   background:#131313 ;
   display: flex;
   flex-direction: column;
   align-items: center;

 }
 .profile h2{
   margin-bottom: 5rem;
   text-align: center;
 }
 .timeline-items{
   max-width: 1200px;
   margin: auto;
   display: flex;
   flex-wrap: wrap;
   position: relative;
 }

 .timeline-items::before{
   content: "";
   position: absolute;
   width: 5px;
   height: 100px;
   background-color: #00ffee;
   left: calc(50%-2.5px);
 }
 .timeline-items{
   margin-bottom: 40px;
   width: 100%;
   position: relative;
 }
 .timeline-items:last-child{
   margin-bottom: 0;
 }

 .timeline-items:nth-child(odd){
   padding-left: calc(50% + 30px);
   text-align: right;

 }

 .timeline-items:nth-child(even){
   padding-left: calc(50% + 30px);

 }
 .timeline.dot{
   height: 21px;
   width: 21px;
   background-color: #00ffee;
   box-shadow: 0 0 25px #00ffee;
    position: absolute;
    left: calc(50% - 10.5px);
    border-radius: 50%;
    top: 10px;
   

 }
 .timeline-date{
   font-size: 20px;
   font-weight: 800;
   color: white;
   margin: 6px 0 15px;
 }
 .timeline-content{
   background-color: #131313;
   border: 3px solid #00ffee;
   padding: 30px 50px;
   border-radius: 4rem;
   box-shadow: 0 0 10px #00ffee;
   cursor: pointer;
   transition: 0.3s ease-in-out;
 }
 .timeline-content:hover{
   transform: scale(1.05);
   box-shadow: 0 0 25px #00ffee;
 }
 .timeline-content h3{
   font-size: 20px;
   color: white;
   margin: 0 0 10px;
   font-weight: 500;
 }
 .timeline-content p{
   color: white;
   font-size: 16px;
   font-weight: 300;
   line-height: 22px;
 }
 ::-webkit-scrollbar{
   width: 15px;
 }
 ::-webkit-scrollbar-thumb{
   background-color: #00ffee;
 }
 ::-webkit-scrollbar-track{
   background-color: #131313;
   width: 50px;

 }
 .profile.heading{
   margin-bottom: 5rem ;
    font-size: 35px;
    color: white;
 }

 .projects-item img{
   max-width: 1200px;
   border-radius: 50%;
   border: 3px solid #00ffee;
   box-shadow: 0 0 25px #00ffee;
   margin: none;
   
   }

   .wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around; /* Optional: To add some space between items */
    }
    
    .projects-item {
      margin: 5px;
      width: 20%; 
      box-sizing: border-box; 
      overflow: hidden;
      text-align: center;

    }
    
    .wrapper img {
      width: 100%;
      height: auto;
      box-shadow: 0 0 25px #00ffee;
      transition: 0.4s ease-in-out;
    }

    .wrapper img:hover{
      box-shadow: 0 0 50px #00ffee, 0 0 100px #00ffee,0 0 150px #00ffee;
    }
    
 
 .projects-item img {
   padding: 15px; ;
   text-align: center;
   
 }
  
 .projects-item h2 {
   font-size: 3em; 
   color: #ff4500; 
   margin-top: 30px; 
   align-items: center;
}

.projects-item:nth-last-of-type(2) img {
   width: 100%;
   height: auto;
}
.contact {
   padding: 50px 15px;
   background: #131313;
   color: white;

}
.contact h2{
   margin-bottom: 3rem;
   color: white;
   text-align: center;
   font-size: 6rem;
}
.contact form{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 3rem;
   margin: 5rem auto;
   width: 100%;
   max-width: 800px;
}
.contact form .input-box{
   width: 100%;
}
.contact form .input-box input,
.contact form textarea{
   width: 100%;
   padding: 2.5rem;
   font-size: 1.8rem;
   color: white;
   background: #080808 ;
   border-radius: 2rem;
   border: 2px solid #00ffee;
   margin: 1.5rem;
   resize: none;
}
.contact form textarea{
   height: 150px;
}
.contact form .btn{
   margin-top: 2rem;
   padding: 1.5rem 3rem;
   font-size: 4rem;
   color: white;
   background: #00ffee;
   border: none;
   border-radius: 1rem;
   cursor: pointer;
   transition:  0.3s ease-in-out

}
.contact form .btn:hover{
   background: 00cccc;
}
.footer{
   position: relative;
   bottom: 0;
   width: 100%;
   padding: 40px 0;
   background-color: #131313;
   text-align: center;
}
.footer.social{
   padding-bottom: 40px;
   color: #00ffee;
}
.footer.social a{
   font-size: 45px;
   color: #00ffee;
   border: 3px solid #00ffee;
   width: 42px;
   height: 42px;
   line-height: 42px;
   display: inline-block;
   text-align: center;
   border-radius: 50%;
   margin: 0 10px;
   transition: 0.3s ease-in-out;
}
.footer.social a:hover{
   transform: scale(1.2) translateY(-10px);
   background-color: #00ffee;
   color: black;
   box-shadow: 0 0 25px #00ffee ;

}
.footer ul{
   margin-top: 0;
   padding: 0;
   font-size: 20px;
   list-style: none;
   line-height: 1.6;
   margin-bottom: 0;
}

.footer ul li a{
   color: white;
   border-bottom: 3px solid transparent;
   transition: 0.3s ease-in-out;
}
.footer ul li a:hover{
   border-bottom: 3px solid #00ffee;
}
.footer ul  li{
   display: inline-block;
   padding: 0 15px;

}
.footer.copyright{
   margin-top: 50px;
   text-align: center;
   font-size: 16px;
   color: white;
}



 

